# Database
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost

# SentryBus
PORT=8085
HOST=localhost
URL=http://localhost:8085

# Redis
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Blnk Ledger
BLNK_BASE_URL=
BLNK_API_KEY=
BLNK_WEBHOOK_SIGNING_SECRET=

# Zoho CRM
ZOHO_CRM_BASE_URL=
ZOHO_CRM_TOKEN=

# Hasura
HASURA_URL=
HASURA_ADMIN_SECRET=
